.cards {
    overflow: scroll;
    height: 100%;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding-bottom: 5rem;

    .card {
        flex-grow: 1;
        flex-basis: 20rem;
        max-width: 30rem;
        padding-inline: 1rem;
        padding-block: 0.75rem;
        background-color: #1c1c1c;
        border-radius: 0.5rem;
        color: rgb(245, 245, 245);
        display: flex;
        flex-direction: column;
        gap: 1rem;


        img {
            width: 100%;
            border-radius: 0.5rem;
        }

        h1 {
            font-size: 1.5rem;
            font-weight: 500;
        }

        .desceription {
            opacity: 0.7;
            word-spacing: 0.3rem;
            line-height: 1.3rem;
        }

        .tags {

            display: flex;
            flex-wrap: wrap;
            gap: 0.75rem;

            .tag {
                background-color: #353735;
                width: fit-content;
                padding-inline: 1.25rem;
                padding-block: 0.75rem;
                border-radius: 0.75rem;
                white-space: nowrap;
            }
        }

        .urls {
            display: flex;
            gap: 1rem;

            a {
                text-decoration: none;
                color: rgb(200, 200, 200);
                font-weight: 500;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}