.dock{
    display: flex;
    position: absolute;
    bottom: 1rem;
    left: 50%;
    gap: 0.75rem;
    transform: translate(-50%);

    background: rgba(63, 63, 63, 0.395);
    padding-inline: 1rem;
    padding-block: 0.75rem;
    border-radius: 0.75rem;

    backdrop-filter: blur(5px);

    .icon{
        padding: 0.65rem;
        border-radius: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        aspect-ratio: 1/1;
        width: 2.75rem;
        height: 2.75rem;

        transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    }

    .github,
    .cli{
        background-color: black;
    }

    .note{
        background: linear-gradient(to bottom,rgb(255,178,87),rgb(255,153,20));
    }
    .pdf{
        background: linear-gradient(to bottom,rgb(255,65,78),rgb(255,25,40));
    }
    .calendar,
    .mail{
        background: linear-gradient(to bottom,rgb(105, 94, 255),rgb(66,52,255));
    }
    .spotify{
        background: linear-gradient(to bottom,rgb(78, 176, 33),rgb(53, 142, 12));
    }
    .link{
        background: linear-gradient(to bottom,rgb(163,97,170),rgb(142,33,155));
    }

    .icon:hover{
        transform: scale(1.25) translateY(-20%);
    }
    .icon:hover + .icon,
    .icon:has(+ .icon:hover){
        transform: scale(1.1) translateY(-10%);
    }
}